# 参照用 WordPress ソースファイル（公開不要）
assets/current-*.html
assets/sakasaew.html

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.code-workspace

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
